{% comment %} Sanity check to prevent infinite recursion {% endcomment %}

<ul data-menu-handle="{{ recursive-navigation-helper }}">
{% for link in linklists.[recursive-navigation-helper].links %}
    <li class="active">
        <a class="{{ link.title | downcase}}" href="{{ link.url }}" >
          {{ link.title }}
        </a>
    </li>
{% endfor %}
</ul>
