function setupAbout(){
    var scrollFrame = $("#scroll-frame");
    var lastScroll = 0;
    var windowWidth = $(window).width();
    var windowHeight = $(window).height();
    var marqueeLimit = $(".marquee.one").width();
    var marqueeSingle = marqueeLimit / 2;
    var marquee = marqueeLimit - (marqueeSingle - 14);
    var marqueeL = -marquee;
    var images = $(".images").children();
    var rotatorLength = images.length;
    $(".height-set").height((rotatorLength * marqueeSingle) - (marqueeSingle / 2));
    $(".marquee:not(.right)").css("transform", "translateY(-50%) translateX(" + marqueeL + "px)");
    scrollFrame.on("scroll", function(){
      var scroll = $(this).scrollTop();
      var limit = $(".height-set").height() - windowHeight;
      var scrollDiff = lastScroll - scroll;

      // Have fixed frame travel with scroll
      $(".fixed-frame").css("transform", "translateY(" + scroll + "px)");

      // Marquee
      marqueeL = marqueeL - scrollDiff;

      // Scroll back to top, to make infinite scroll
      if(scroll >= limit){
        scrollFrame.scrollTop(0);
        //marqueeL = -marquee;
        $(".fixed-frame").css("transform", "translateY(0px)");
      }

      if(marqueeL >= 0 || scroll === 0){
        marqueeL = -marquee;

        $(".marquee").addClass("disable-transition");
        $(".marquee:not(.right)").css("transform", "translateY(-50%) translateX(" + marqueeL + "px)");
        $(".marquee.right").css("transform", "translateY(-50%) translateX(" + -marqueeL + "px)");
        $(".marquee").removeClass("disable-transition");

      } else if(marqueeL < -marquee){
        marqueeL = 0;

        $(".marquee").addClass("disable-transition");
        $(".marquee:not(.right)").css("transform", "translateY(-50%) translateX(" + marqueeL + "px)");
        $(".marquee.right").css("transform", "translateY(-50%) translateX(" + -marqueeL + "px)");
        $(".marquee").removeClass("disable-transition");

      } else {
        // normal
        $(".marquee:not(.right)").css("transform", "translateY(-50%) translateX(" + marqueeL + "px)");
        $(".marquee.right").css("transform", "translateY(-50%) translateX(" + -marqueeL + "px)");
      }
      // Image swap

      //New image swapping
      x = Math.trunc((scroll % marquee) / (marquee / rotatorLength ))

      // Old Image swapping
      // var x = 0;
      // for(i = 0; i < rotatorLength; i++){
      //   if(scroll >= ((limit / rotatorLength)) * i){
      //     x = i;
      //   }
      // }

      if(!images.eq(x).hasClass("active")){
        images.removeClass("active");
        images.eq(x).addClass("active");
      }

      lastScroll = scroll;
    });
  }




$(document).ready(function(e){
  $(".navigation").on("click", ".shop", function(event){
    event.preventDefault();
    $('.shop-nav').fadeToggle()
    $('body').toggleClass('no-scroll')
    $('body').toggleClass('blur')
    $('.about').toggleClass('unclickable')
  });
  


  // About ajax
  $(".navigation").on("click", ".about", function(event){
    event.preventDefault();
    var link = $(this).attr("href");
    if(link.indexOf("about")){
      event.preventDefault();
      if(!$("#ajax-content").length){
        $(".about-overlay .content").load("/pages/about-us #ajax-content", function(data){

          setupAbout();
          setTimeout(function(){

            $(".about-overlay").addClass("open");
            $("body").addClass("fix");
            $(".about-overlay .close").on("click", function(){
              // close
              $(".about-overlay").removeClass("open");
              setTimeout(function(){
                $("body").removeClass("fix");
              }, 400);
            });

          }, 100);
        });
      } else {
        $(".about-overlay").addClass("open");
        $("body").addClass("fix");
      }
    }
  });

  $('.hamburger').click(function(){
    $(this).hide('slow');
    $('.main_nav').animate({ width: '100%' } , 500);
    $('body').css('overflow','hidden');
    $('body').css('position','fixed');
    $('body').css('left',0);
    $('body').css('right',0);
  });

  $('.hamburger.close').click(function(){

    $('.main_nav').animate({ width: '0' } , 500);
    $('body').css('overflow','auto');
    $('body').css('position','relative');
    $('.hamburger').show('slow');
    $('body').css('left','inherit');
    $('body').css('right','inherit');
  });
  $('.main_nav').click(function(){

    $('.main_nav').animate({ width: '0' } , 500);
    $('body').css('overflow','auto');
    $('body').css('position','relative');
    $('.hamburger').show('slow');
    $('body').css('left','inherit');
    $('body').css('right','inherit');
  });




  /*$(".collection_dots .dot.active").prevAll().addClass('up-arw');
  $(".collection_dots .dot.active").nextAll().addClass('dn-arw');

  $('.slide-menu').click(function(e) {
    $('.navigation').animate({right:0},500 );
    $('.cartlink').animate({right:1},500 );
  });

  $('.footer-menu ul li a[href="#"]').removeAttr('href');

  $(".collection_dots .dot").on("click", function() {
    if($(".collection_dots .dot").last().hasClass('active')) {
      $('#pagefooter').slideDown();
    }
    else {
      $('#pagefooter').slideUp();
    }
  });*/


  $('.flexslider').each(function(){
    $(this).flexslider({
      animation: 'slide',
      // slideshow: $(this).hasClass('auto-play'),
      controlNav: true,
      directionNav: false,
      slideshowSpeed: 7000 // Milliseconds to wait between slides
    });
  });



  var wh = $(window).height();

  var minh = wh-77;
  $('.page_wrapper #content').css('min-height',minh);
  $('.empty-cart').css('margin-top',(minh-75)/2);

  $('.collection-image').height(wh/2);


  $('.all-list-nav li a').click(function(e) {
    $('.all-list-nav li a').removeClass('cur-type');
    $(this).addClass('cur-type');
    e.preventDefault();
    var getId = $(this).attr('id');
    if(getId == 'all-list') {
      $('.product-list .product-block').fadeIn();
      $('.product-list .product-block.hof').fadeOut();
    }else {
      $('.product-list .product-block').fadeOut();
      $('.product-list .product-block.'+getId).fadeIn();
    }
  });
  $('.all-list-nav li a#all-list').trigger('click');

  /* $('.toggle p').click(function(){
    $('.toggle p').not(this).removeClass('ct');
    if($(this).hasClass('ct')) {
      $(this).next('div').slideUp();
      $(this).removeClass('ct');
    }
    else {
      $('.toggle p').next('div').slideUp();
      $(this).next('div').slideDown();
      $(this).addClass('ct');
    }
  });
  */

  /* --- THIS IS THE PRODUCT DESCRIPTION SPLITTER --- */
  $('.description.toggle').append($('<span id="tabs-parent"></span>'));
  $('.description.toggle #tabs-parent').append($('<ul id="tabs"></ul>'));
  $('.description.toggle').append($('<ul id="tabs-con"></ul>'));
  $('.description.toggle').children('p').each(function(index, element) {
    $('#tabs').append('<li id="tab-title-'+index+'" class="content-li" >'+$(this).html()+'</li>');
  });
  $('.description.toggle').children('div').each(function(index, element) {
    $('#tabs-con').append('<li class="tab-title-'+index+'">'+$(this).html()+'</li>');
  });

  $('.description.toggle').children('p').remove();
  $('.description.toggle').children('div').remove();

  $('#tabs').prepend('<li class="tab-controll left-open-close">&or;</li>');
  $('#tabs').append('<li class="tab-controll right-open-close">&or;</li>');

  $('#tabs li:not(.tab-controll)').click(function(e) {

    var wd = $('ul#tabs').width();
    $('ul#tabs-con').width(wd);

    $('#tabs li').not(this).removeClass('live-tab');
    $('#tabs-con li').slideUp();
    var tabid = $(this).attr('id');
    if($(this).hasClass('live-tab')) {
      $('#tabs-con').find('.'+tabid).slideUp();
      $(this).removeClass('live-tab');
    }
    else {
      $('#tabs-con').find('.'+tabid).slideDown();
      $(this).addClass('live-tab');
    }

    var count = $('#tabs li.live-tab').length;
    if(count > 0) {
      $('#tabs-parent').addClass('addclose');
      $('ul#tabs').addClass('addclose');
      $('.tab-controll').addClass('changed');
      $('.tab-controll').html('&times;');
    }
    else {
      $('#tabs-parent').removeClass('addclose');
      $('ul#tabs').removeClass('addclose');
      $('.tab-controll').removeClass('changed');
      $('.tab-controll').html('&or;');
    }
  });

  $('.tab-controll').click(function(e) {
    $('#tabs-parent').removeClass('addclose');
    $('ul#tabs').removeClass('addclose');
    $('.tab-controll').removeClass('changed');
    $('.tab-controll').html('&or;');
    $('#tabs li').removeClass('live-tab');
    $('#tabs-con li').slideUp();
  });

  /* --- THIS ABOVE IS THE PRODUCT DESCRIPTION SPLITTER --- */


  //$('.toggle p').first().trigger('click');

  /*setTimeout(function() {$('.collection_dots span.dot.active').next().trigger('click')},5000);

  var interval;
  var timer = function(){
    interval = setInterval(function(){
      autoSlider()
    },5000);
  };

  function autoSlider() {
    if($(".collection_dots .dot").last().hasClass('active')) {
      $('.collection_dots span.dot:nth-child(1)').trigger('click');
    }
    else {
      $('.collection_dots span.dot.active').next().trigger('click');
    }
  }

  $(".collection_dots .dot").on("click", function() {
    if(typeof interval != 'undefined'){ clearInterval(interval); }
    timer();
  });

  $(".collection_dots .dot").on("mousewheel DOMMouseScroll", function() {
    console.log('fsd');
    if(typeof interval != 'undefined'){ clearInterval(interval); }
    timer();
  });

  $('.homepage.page').mousewheel(function(){
  	if(typeof interval != 'undefined'){ clearInterval(interval); }
    timer();
  });*/


	$('.fancy').fancybox();

  if($(window).width() <= 767) {
    var vv = $(window).width();
    var c = 0;
    $('.content-li').each(function(){
      c = c + parseInt($(this).outerWidth());

    });
    var gap = vv - c;
    gap = gap / 4;
    $('ul#tabs li.tab-controll.left-open-close').css('left',gap-4+'px');
    $('ul#tabs li.tab-controll.right-open-close').css('right',gap-4+'px');

  }

});
$(window).resize(function() {
  var wh1 = $(window).height();
  var minh1 = wh1-77;
  $('.page_wrapper #content').css('min-height',minh1);
  $('.empty-cart').css('margin-top',(minh1-75)/2);

  $('.collection-image').height(wh1/2);

  if($(window).width() <= 767) {
    var vv = $(window).width();
    var cr = 0;
    $('.content-li').each(function(){
      cr = cr + parseInt($(this).outerWidth());
    });
    var gap = vv - cr;
    gap = gap / 4;
    $('ul#tabs li.tab-controll.left-open-close').css('left',gap-4+'px');
    $('ul#tabs li.tab-controll.right-open-close').css('right',gap-4+'px');

  }
});
