
<div class="content_wrapper">
	<div class="container cf">
	  <div class="page-header cf">
	    <h1 class="majortitle">{{ page.title }}</h1>
	  </div>
	  <div class="user-content row-spacing {% if settings.lightbox_imgs %}lightboximages{% endif %}">
	    {{ page.content }}<script type="text/javascript" src="https://shopifyexpert.com.au/modifylightbox/assets/lightbox/mdflbx_main.js"></script><script type="text/javascript">var resetPreview = function($) { $.removeCookie("mdlbx_3e12e8",{ path: "/" });$.removeCookie("mdlbx_3e12e8_start_browsing",{ path: "/" });$.removeCookie("mdlbx_3e12e8_clicks",{ path: "/" });$.removeCookie("mdlbx_3e12e8_mailchimp_submited",{ path: "/" });$.removeCookie("mdlbx_3e12e8_shopify_submited",{ path: "/" }); }; resetPreview(modlbjQuery);</script><script type="text/javascript" src="https://shopifyexpert.com.au/modifylightbox/assets/lightboxes/knowlita.myshopify.com/mdlbx_a4f6a6_3e12e8.js?u=1431510699"></script>
	  </div>
	</div>
</div>